<!-- FOOTER SECTION START -->
    <footer class="ul-footer">
        <div class="ul-footer-top">
            <div class="ul-container">
                <div class="ul-footer-top-wrapper wow animate__fadeInUp d-flex justify-content-center align-items-center justify-content-md-between">
                    <!-- <div class="row ul-bs-row"> -->
                    <!-- <div class="col-4"> -->
                    <div class="ul-footer-about">
                        <a href="index.html"><img src="assets/img/raagas/9krafthome-logo.png" alt="logo"></a>
                        <!-- <p class="ul-footer-about-txt">over 1 million+ homes for sale available on the website, we can match you with a house you will want to call home.</p> -->
                        <div class="ul-footer-socials d-flex justify-content-center align-items-center">
                            <a href="#"><i class="flaticon-facebook"></i></a>
                            <a href="#"><i class="flaticon-instagram"></i></a>
                            <a href="#"><i class="flaticon-twitter"></i></a>
                            <a href="#"><i class="flaticon-linkedin"></i></a>
                        </div>
                    </div>
                    <!-- </div> -->

                    <!-- <div class="col-7"> -->
                    <div class="single-column">
                        <div class="ul-footer-widget">
                            <h3 class="ul-footer-widget-title">Explore</h3>

                            <div class="ul-footer-widget-links">
                                <a href="#">Project Highlights</a>
                                <a href="#">Reviews</a>
                                <a href="#">Specifications</a>
                                <!-- <a href="#">Stories</a> -->
                            </div>
                        </div>
                        <!-- <div class="ul-footer-widget">
                            <h3 class="ul-footer-widget-title">BUY A HOME</h3>

                            <div class="ul-footer-widget-links">
                                <a href="pricing.html">Buy</a>
                                <a href="#">Finance</a>
                            </div>
                        </div> -->
                    </div>
                    <div class="single-column">
                        <!-- <div class="ul-footer-widget">
                            <h3 class="ul-footer-widget-title">BUY, RENT AND SELL</h3>

                            <div class="ul-footer-widget-links">
                                <a href="#">Buy and sell properties</a>
                                <a href="#">Rent home</a>
                                <a href="#">Builder trade-up</a>
                            </div>
                        </div> -->
                        <div class="ul-footer-widget">
                            <h3 class="ul-footer-widget-title">TERMS & PRIVACY</h3>

                            <div class="ul-footer-widget-links">
                                <!-- <a href="#">Trust & Safety</a> -->
                                <a href="#">Terms of Service</a>
                                <a href="#">Privacy Policy</a>
                            </div>
                        </div>
                    </div>
                    <div class="single-column">
                        <!-- <div class="ul-footer-widget">
                            <h3 class="ul-footer-widget-title">ABOUT</h3>

                            <div class="ul-footer-widget-links">
                                <a href="#">Company</a>
                                <a href="how-it-works.html">How it works</a>
                                <a href="contact.html">Contact</a>
                                <a href="#">Investors</a>
                            </div>
                        </div> -->
                        <div class="ul-footer-widget">
                            <h3 class="ul-footer-widget-title">Quick Links</h3>

                            <div class="ul-footer-widget-links">
                                <a href="#">Blogs</a>
                                <a href="#">FAQ</a>
                                <a href="#">Contact Us</a>
                            </div>
                        </div>
                    </div>
                    <!-- </div> -->
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <!-- footer bottom -->
        <div class="ul-footer-bottom">
            <p class="copyright-txt">&copy;2025 Raagas Krithi. All rights reserved</p>
        </div>

        <!-- vector -->
        <div class="ul-footer-vectors">
            <img src="assets/img/footer-vector-img-1.png" alt="Footer Image" class="ul-footer-vector-1">
            <img src="assets/img/footer-vector-img-2.png" alt="Footer Image" class="ul-footer-vector-2">
        </div>
    </footer>
    <!-- FOOTER SECTION END -->
